<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856893842551-1pamhsql2usiegvejiti3ri54o3t2o07.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856893842551-1pamhsql2usiegvejiti3ri54o3t2o07</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>856893842551-hkk3qnlsn0q2to95p4hvfg4dlbtir229.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_cJemeDabfYGaMk4e2RbfFB0TVaT5pAo</string>
	<key>GCM_SENDER_ID</key>
	<string>856893842551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.purboindra.sa</string>
	<key>PROJECT_ID</key>
	<string>shop-app-76b4d</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-app-76b4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856893842551:ios:0d919a3547742c94799272</string>
	<key>DATABASE_URL</key>
	<string>https://shop-app-76b4d-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>